html,
body,
ul {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}


.container {
    height: 100vh;
    /* Não cria scroll*/
    position: relative;
    /* Os outros componentes serão relativos*/
}

/* Side bar*/

.sidebar {
    width: 410px;
    height: 100%;
    /*relativo ao container*/
    display: inline-block;
    /* para ficar do lado*/
    position: relative;
    /* caso tenha outr elemento dentro, a side sera a referencia*/
}

/* toolbar*/

.toolbar-container {
    width: 100%;
    height: 60px;
    background-color: #eee;
}

.user-photo {
    width: 40px;
    border-radius: 50%;
    /* imagem redonda*/
    position: absolute;
    left: 15px;
    top: 10px;
    background-color: #ccc;

}

.auxicons-toolbar-container {
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
}

.auxicons-toolbar-container i {
    color: #80868A;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

/* notification container*/

.nofication-container {
    width: 100%;
    height: 90px;
    padding-top: 23px;
    padding-left: 80px;
    background-color: rgb(53, 160, 192);
    position: relative;
    box-sizing: border-box;
}


.fas.fa-bell-slash {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    font-size: 18px;
    color: #9de1fe;
    background-color: #f5fcff;
    position: absolute;
    top: 20px;
    left: 15px;
}

.nofication-container p {
    margin: 0;
}

.nofication-container.receive-notification {
    font-size: 15px;
    margin-bottom: 3px;
}

.activate-notification {
    font-size: 13px;

}


/* Search container*/

.search-container {
    height: 50px;
    width: 100%;
    padding-left: 7.5px;
    padding-top: 7.5px;
    background-color: #f8f8f8;
    position: relative;
    color: #BDC1C3;
    box-sizing: border-box;
}

#contact-search {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 14px;
}

#search {
    border: none;
    height: 35px;
    width: 385px;
    padding-left: 60px;
    border-radius: 17.5px;
    background-color: #FFF;
    box-sizing: border-box;
}

#search::placeholder {
    color: #BDC1C3;
}

/* contacts container*/

.contacts-container {
    height: auto;
    background-color: #FFF;
}

.contact-box {
    cursor: pointer;
    height: 72px;
    background-color: #FFF;
    border-top: 1px solid #f2f2f2;
    position: relative;
    box-sizing: border-box;
}

.contact-box:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.contact-box:hover {
    background-color: #f4f5f5;
}
.active-chat {
    background-color: #e9ebeb;
}
.active-chat.contact-box:hover {
    background-color: #e9ebeb;
}
.contact-box .user-photo{
    width: 50px;
}

.user-info {
    margin-left: 80px;
    padding-top: 10px;
    display: inline-block;
}

.user-info p, message-info p {
    margin: 0;
}

.user-name {
    font-size: 16px;
    color: #000;
    margin-bottom: 12px;
}

.user-messagepreview{
    font-size: 12px;
    color: #454545;
}

.fa-check-double {
    margin-left: 5px;
    color: #4fc3f7;
}

.message-info {
    position: absolute;
    top: 0px;
    right: 20px;
    display: inline-block;
}

.message-info .message-time {
    font-size: 12px;
    margin-bottom: 1px;
    color: #ccc;
}

.message-pending {
    background-color: #09d261;
    color: #fff;
    width: 19px;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    float: right;

}
